.entry-cont {
    max-width: 400px;
    background-color: #f3f4f6;
    padding: 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    margin: 3rem auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.entry-cont,
.entry-form,
.upload-cont {
    display: flex;
    flex-direction: column;
}

.heading {
    align-self: center;
    margin-bottom: 0.75rem;
}
label {
    margin-bottom: 0.25rem;
}
input {
    border: none;
    padding: 10px 8px;
    border-radius: 4px;
    margin-bottom: 0.75rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.upload-cont {
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 8px;
}

.submit-btn {
    border: none;
    margin-block: 1rem;
    align-self: center;
    padding: 0.25rem 1rem;
    width: 8rem;
}
